.git/**
.vscode/**
.gitignore
coverage/**
docs/**
node_modules/**
src/**
**/*.map
*.vsix
eslint.config.mjs
tsconfig.json
vitest.config.*
package-lock.json
READMEDev.md
CONTRIBUTING.md
PUBLISHING.md
SECURITY.md

# IgnoreKit
# Added from VS Code Explorer
src/ignore-file.test.ts
src/ignore-targets.test.ts
/PUBLISHING.md
# End IgnoreKit
